@import '../../styles/variables';
@import '../../styles/functions';

.hero {
    height: 100%;
    display: flex;
    flex-direction: column;

    &>div:first-child {
        display: flex;
        flex-direction: column;
        width: fit-content;
        height: fit-content;
        margin-top: 4em;

        span {
            font-size: 11rem;
            font-weight: 900;
            color: $primary-color;
            font-family: $secondary-sans;
            margin: -0.2em 0;
        }

        span:last-child {
            margin-left: .8em;
        }
    }

    &>div:last-child {
        @include flexCenter(row);
        width: fit-content;
        margin: auto 0 4em;

        span {
            color: $text-dark-secondary;
            font-weight: 500;
            margin-left: 10px;
            font-size: 2.2rem;
            font-family: $primary-serif;
        }
    }
}