$primary-color: #f50057;
$primary-color-darker: #e1253b;
$secondary-dark: #1c1c1c;
$text-light-primary: #fff;
$text-light-secondary: #999;
$text-dark-primary: #000;
$text-dark-secondary: #333;
$secondary-sans: 'Oswald',
sans-serif;
$primary-serif: 'Roboto Slab',
serif;