@import '../../styles/variables';

.container {
    padding: 0 3em;

    h2 {
        margin: 3rem 0;
        color: $primary-color-darker;
    }

    p {
        max-width: 600px;
        line-height: 1.5;
    }
}